{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2>Kullanıcılar</h2>
    <table class="table mt-4">
        <thead>
            <tr>
                <th>ID</th>
                <th>Kullanıcı Adı</th>
                <th>E-posta</th>
                <th>Durum</th>
                <th>İşlemler</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{% if user.is_active %} Aktif {% else %} Pasif {% endif %}</td>
                    <td>
                        <a href="{% url 'admin_user_update' user.id %}" class="btn btn-info btn-sm">Düzenle</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
